/* Remove all spacing from body and html */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden; /* optional: to prevent scrollbars */
  }
  
  /* Make sure root Angular container fills screen */
  app-root, body > * {
    height: 100%;
    width: 100%;
  }
  /* You can add global styles to this file, and also import other style files */
